{% extends "admin/challenges/create.html" %}

{% block name %}
<div class="form-group">
	<label>
		Name:<br>
		<small class="form-text text-muted">
			The name of your challenge
		</small>
	</label>
	<input type="text" class="form-control" name="name" placeholder="Enter challenge name">
</div>
<div class="form-group">
	<label for="value">Deployment Template Name<br>
		<small class="form-text text-muted">
            The key for the deployment template in Cloudstore
		</small>
	</label>
	<input type="text" class="form-control" name="template_name" placeholder="Enter name" required>

</div>
{% endblock %}

{% block value %}
<div class="form-group">
	<label for="value">Initial Value<br>
		<small class="form-text text-muted">
			This is how many points the challenge is worth initially.
		</small>
	</label>
	<input type="number" class="form-control" name="initial" placeholder="Enter value" required>
</div>

<div class="form-group">
	<label for="value">Decay Function<br>
		<small class="form-text text-muted">
			<span>How the dynamic value will be calculated based on the Decay value</span>
			<ul>
				<li>Linear: Calculated as <code>Initial - (Decay * SolveCount)</code></li>
				<li>Logarithmic: Calculated as <code>(((Minimum - Initial) / (Decay^2)) * (SolveCount^2)) + Initial</code></li>
				<li>Logarithmic Custom: Same behaviour as logarithmic, but uses https://www.desmos.com/calculator/k1tiifvn7s </li>
			</ul>
		</small>
	</label>
	<select name="function" class="custom-select">
		<option value="linear">Linear</option>
		<option value="logarithmic">Logarithmic</option>
		<option value="logarithmic_custom">Logarithmic Custom</option>
	</select>
</div>

<div class="form-group">
	<label for="value">Decay<br>
		<small class="form-text text-muted">
			<span>The decay value is used differently depending on the above Decay Function</span>
			<ul>
				<li>Linear: The amount of points deducted per solve. Equal deduction per solve.</li>
				<li>Logarithmic: The amount of solves before the challenge reaches its minimum value. Earlier solves will lose less
					points. Later solves will lose more points</li>
				<li>Logarithmic Custom: The Decay value has <b>NO EFFECT</b> as this is built into the function</li>
			</ul>
		</small>
	</label>
	<input type="number" class="form-control" name="decay" min="1" placeholder="Enter Decay value" required>
</div>

<div class="form-group">
	<label for="value">Minimum Value<br>
		<small class="form-text text-muted">
			This is the lowest that the challenge can be worth
		</small>
	</label>
	<input type="number" class="form-control" name="minimum" placeholder="Enter minimum value" required>
</div>
{% endblock %}

{% block type %}
<input type="hidden" value="kubectf" name="type" id="chaltype">
{% endblock %}